* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark: #243b4a;
    --mid-dark: #2d4654;
    --purp: #4E4D5C;
    --mauve: #805e73;
    --blue: #87bcde;
    --white:  #DCE0D9;
}

body {
   /* background-color: var(--purp); */
   background-image: radial-gradient(var(--mid-dark), var(--purp), var(--mauve));
}

.header {
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px 6px #1b1a1a;
}
.header{
    /*display: flex;*/
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dark);
    background: linear-gradient(145deg, #203543, #273f4f);
    box-shadow:  23px 23px 46px #1c2f3a,
                 -23px -23px 46px #2c475a;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header div ul {
    list-style: none;
}

.header div ul li {
    display: inline-block;
    /*flex-direction: row;
    justify-content:flex-end;*/
    margin-left: 25px;
    color: #DCE0D9;
}

a[href] {
    text-decoration: none;
    color: #DCE0D9;
}

.figure {
    background-image: url(../assets/images/motherboard1.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 780px;
    max-width: 100%;
    margin-top: none;
    margin-bottom: none;
    background-size: 1872px;
    opacity: 100%;
} 

.quote {
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dark);
    background: linear-gradient(145deg, #203543, #273f4f);
    box-shadow:  23px 23px 46px #1c2f3a;
    color: var(--white);
    font-size: 45px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    text-shadow: 3px 3px 6px #1b1a1a;
}

.article {
    margin-top: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px; 
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px 6px #1b1a1a;
    font-size: 35px;
}

.avatar {
    background-image: url(../assets/images/selfavatar.jpg);
    height:400px;
    width:400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    float:right;
}

#about-me{
    display: inline;
    text-align: center;
}

.paragraphs{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    color: var(--white);
    text-shadow: none;
    line-height: 1cm;
}

.UTA{
    background-image: url(../assets/images/UTA.jpg);
    height:300px;
    width:300px;
    background-size: contain;
    background-repeat: no-repeat;
    float:left;
}

#work{
    display: inline;
    text-align: center;
}

#contact-me{
    display: inline;
    text-align: center; 
}